.account-img-small {
    height: 50px; /* Измените высоту по вашему усмотрению */
    width: 50px; /* Измените ширину по вашему усмотрению */
    margin-right: 10px; /* Регулирует отступ справа от изображения */
    }
    .account-img {
    height: var(--my-custom-height);
    width: var(--my-custom-width);
    margin-right: var(--my-custom-margin);
    }
    :root {
    --my-custom-height: 200px;
    --my-custom-width: 200px;
    --my-custom-margin: 10px;
    }


