{% extends "base/home_page.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <style>
        .content-section {
            padding: 20px;
            background-color: #f8f9fa;
            border-radius: 10px;
            margin-bottom: 20px;
        }

        .content-section h4 {
            color: #007bff;
        }

        .content-section p {
            margin-bottom: 15px;
            line-height: 1.6;
            position: relative;
            padding-left: 30px;
        }

        .content-section p::before {
            content: "\2022"; /* Здесь используется юникод-символ маркера для точки */
            color: #007bff;
            font-size: 18px;
            position: absolute;
            left: 5px;
            top: 50%;
            transform: translateY(-50%);
        }

        .border-top {
            border-top: 1px solid #dee2e6;
            padding-top: 10px;
        }
    </style>

    <div class="content-sectio">
        <h4>Добро пожаловать на нашу платформу, которая предоставляет уникальные возможности для успешного поиска работы в сфере информационных технологий.</h4>
    </div>

    <div class="content-section border-top pt-3">
        <p>Мы создали ITJobSearch с целью помочь талантливым специалистам находить идеальные вакансии в IT-сфере.</p>
        <p>ITJobSearch - это не просто поиск работы, а целая экосистема, где ваши навыки встречаются с возможностями ведущих IT-компаний.</p>
        <!-- Другие абзацы и стили здесь -->
        <p>Ваша карьера начинается здесь! Присоединяйтесь к ITJobSearch и откройте новые горизонты в мире IT. Наша команда постоянно работает над улучшением платформы, чтобы предоставлять вам лучший опыт поиска работы в IT. Будьте в центре инноваций и возможностей. Начните свой путь в IT с ITJobSearch прямо сейчас!</p>
    </div>
{% endblock content %}