{% extends "navbar.html" %}
{%load static%}
{% block content %}


    <div class="news-container">
        <div class="news-article">
            <h3 class="news-title">IT популярные статьи</h3>
            <a class="nav-item nav-link" href="{% url 'new_page_url' %}">Подробнее</a>
            <p class="news-content">Информационные технологии (IT) являются основой современного мира, обеспечивая инновации и преобразование бизнеса и общества. Они охватывают широкий спектр областей, включая разработку программного обеспечения, сетевые технологии, искусственный интеллект, облачные вычисления и многое другое. IT ускоряют коммуникации, оптимизируют процессы и создают новые возможности в сфере образования, медицины, финансов и развлечений, играя ключевую роль в формировании нашего будущего.</p>
            <p class="news-date">Дата: 2023-12-20</p>
        </div>

        <div class="news-article">
            <h3 class="news-title">Новости в сфере IT</h3>
            <a class="nav-item nav-link" href="{% url 'new_page_url' %}">Подробнее</a>
            <p class="news-content">Информационные технологии (IT) являются основой современного мира, обеспечивая инновации и преобразование бизнеса и общества. Они охватывают широкий спектр областей, включая разработку программного обеспечения, сетевые технологии, искусственный интеллект, облачные вычисления и многое другое. IT ускоряют коммуникации, оптимизируют процессы и создают новые возможности в сфере образования, медицины, финансов и развлечений, играя ключевую роль в формировании нашего будущего.</p>
            <p class="news-date">Дата: 2023-12-19</p>
        </div>
    </div>
{% endblock content %}