{% include "navbar.html" %}
{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'path_to_your_static_file.css' %}">
    <style>
        .news-article {
            position: relative;
            padding-bottom: 70px; /* Подстраиваем под размер кнопки и блока описания */
        }

        .description {
            margin-bottom: 20px;
        }

        .send-message-btn {
            position: absolute;
            bottom: 10px; /* Отступ от нижнего края */
            right: 10px; /* Отступ от правого края */
        }

        .primary-list {
            /* Стили для списка */
        }
    </style>
</head>

<body>
    <div class="content-section">
        <div class="news-article">
            {% for devgrade in devgrades %}
                <h2 class="news-title">{{ devgrade.name }}</h2>
            {% endfor %}

            <div class="description">
                <hr>
                <h5>Demands:</h5>
                <p>{{ vacancy.description }}</p>
            </div>

            <a class="btn btn-primary send-message-btn" href="{% url 'send_message' %}">Send message</a>

            <p class="news-date">{{ vacancy.created|date:"D, M j, Y" }}</p>
        </div>

        <div class="primary-list">
            <!-- Ваш список primary list -->
        </div>
    </div>
</body>

</html>
